*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.section{
    color: orangered;
    width: 80vw;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    padding: 2vh;
}

p{
    padding-inline: 4vw;
    padding-block: 1vh;
}